*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(223, 223, 223);
  font-family: 'Open Sans', sans-serif;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card{
  width: 85%;
  height: 80%;
  background: #FAFAFA;
 box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.16);
 border-radius: 10px;


 display: flex;
 justify-content: space-between;
}

.content{
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image{
  width: 50%;
  height: 100%;
  filter: drop-shadow(-2px 0 4px rgba(0,0,0,0.8));
}

.image-content{
  width: 100%;
  height: 100%;
  background-image: url('../img/Perfil.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0 10px 10px 0;
  clip-path: polygon(100% 0, 100% 100%, 5% 100%, 0 0);
}

.git-icon{
  width: 36px;
  height: 36px;
  margin: 4% 0 0 4%;
}

.info{
  margin: 4% 4% 10% 4%;
}

.info-level{
  display: block;
  text-transform: uppercase;
  color: #3CCD99;
  font-weight: 300;
  font-size: 10px;
  margin-bottom: 12px;
}

.info-name{
  color: #191919;
  font-size: 24px;
  font-weight: 800;
}

.info-description{
  color: #B7B7B7;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700px;
}

.info-icon-social{
  height: 15px;
  opacity: 0.5;
  margin: 16px 12px 12px 0;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .card{
    height: 95%;
    flex-wrap: wrap-reverse;
  }
  .content{
    width: 100%;
    height: 60%;
  }
  .image{
    width: 100%;
    height: 40%;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.08));
  }
  .image-content{
    border-radius: 10px 10px 0 0;
    background-position: center top;
    background-size: 100% auto;
    clip-path: polygon(100% 0, 100% 100%, 0 95%, 0 0);
  }
  .git-icon{
    margin: 1% 0 0 4%;
  }
  .info{
    text-align: center;
    width: 80%;
    height: 100%;
    margin: 10% auto;
  }
  .info-level{
    margin-bottom: 36px;
  }

}
